<h1>Tất cả sản phẩm</h1>
<div class="row">
    <div class="col-md-8">
        <input type="search" ng-model="timkiem" class="form-control">
    </div>
    <div class="col-md-4">
        <select class="form-control" ng-model="filterloaisanpham" ng-options="lsp.TenLoai for lsp in danhsachloaisanpham">
            <option value="">----Tất cả----</option>
        </select>
    </div>
</div>


<!-- hiển thị tất cả các sản phẩm -->
<div class="row" style="margin-top: 50px;">
    <div class="col-md-2 text-center" ng-repeat="sp in danhsachsanpham| filter: {TenSanPham: timkiem, MaLoai: filterloaisanpham.MaLoai}">
        <a href="" class="fa  fa-2x fa-remove" ng-click="XoaSanPham(sp)"></a><br>
        <img ng-src="images/anhsanpham/{{sp.HinhAnh| randomSrc}}" width="100em" height="100rem"><br>
        <span ng-click="SuaSanPham(sp)"><a href="" style="color: blue;">{{sp.MaSanPham}}</a></span><br>
        <span>{{sp.TenSanPham}}</span><br>
        <span style="color: red">{{sp.DonGia| currency: '':0}} VNĐ</span><br>
    </div>
</div>


<!-- Phần Popup sửa thông tin sản phẩm -->
<div id="popupsuasanpham" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sửa thông tin sản phẩm</h4>
            </div>
            <div class="modal-body">
                <form name="form" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <select class="form-control" name="loaisanpham" ng-model="loaisanpham" ng-options="lsp.TenLoai for lsp in danhsachloaisanpham" required>
                                <option value="">----Chọn loại sản phẩm----</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="tensanpham" ng-model="tensanpham" placeholder="Tên sản phẩm" class="form-control" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="number" name="dongia" ng-model="dongia" placeholder="Đơn giá" class="form-control" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="number" name="soluong" ng-model="soluong" placeholder="Số lượng" class="form-control" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <textarea name="mota" ng-model="mota" style="width: 420px;" rows="5" placeholder="Mô tả"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="fileUpload" style="margin-left: 10px;">
                            <input type="file" file-model class="upload" name="image" ng-model="image" required/>
                            <img class="imageupload" ng-src="{{urlImage}}">
                            <span class="chuthichanhthe"><br/><br/>Ảnh sản phẩm<br/><br/><br/><br/>Click vào đây để chọn ảnh</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary col-md-4 col-md-offset-4" ng-disabled="form.$invalid" ng-click="Luu()">Lưu</button>    
            </div>
        </div>

    </div>
</div>